<div class="container-contact100">

  <div class="wrap-contact100">
    <form class="contact100-form validate-form" method="post">
      <span class="contact100-form-title">
        Vamos, date de alta
      </span>

      <div class="wrap-input100 validate-input" data-validate="Introduce tu nombre">
        <input [(ngModel)]="user.nombre"  type="text" placeholder="Nombre" name="nombre" class="input100" id="name"/>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Genero(male/female)">
        <input [(ngModel)]="user.genero" type="text" placeholder="Genero" name="genero" class="input100" id="genero"/>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Edad">
        <input [(ngModel)]="user.edad" type="text" placeholder="Edad" name="edad" class="input100" id="edad"/>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Introduzca una breve descricpión sobre usted mismo">
        <textarea [(ngModel)]="user.descripcion" type="text" placeholder="Introduzca una breve descricpión sobre usted mismo" class="input100" name="descripcion" id="Descripcion"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="createUser()">
          <span>
            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
            MARCHANDO
          </span>
        </button>
      </div>
    </form>
  </div>
</div>



<div id="dropDownSelect1"></div>
