<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!-- Static content -->
<link rel="stylesheet" href="/resources/css/estilos.css">
    <title>LucaTinder</title>
</head>
<body>
   <table border="1" style="">
			<tr>
				<th>Usuario</th>
				<th>Genero</th>
				<th>Edad</th>
				<th>Descripcion</th>
			</tr>

				<tr th:each="usuario2 : ${usuarios}">
					<td><span th:text="${usuario2.nombre}"/></td>
					<td><span th:text="${usuario2.genero}" /></td>
					<td><span th:text="${usuario2.edad}" /></td>
					<td><span th:text="${usuario2.descripcion}" /></td>
 					<td><a class="boton" th:href="@{darlike?id=}+${usuario2.id}" onclick="deshabilitar(this)">Like</a> | <a
 						th:href="@{dardislike?id=}+${usuario2.id}" onclick="deshabilitar(this)">Dislike</a></td> 
				</tr>
		</table>
</body>
<script type="text/javascript">
function deshabilitar( link ){
    link.style.pointerEvents = 'none';
    link.style.color = '#bbb';

    setTimeout(function(){
        link.style.pointerEvents = null;
        link.style.color = 'blue';
    }, 3000);
}
</script>
</html>