<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!-- Static content -->
	<link rel="stylesheet" type="text/css" href="/resources/vendor/bootstrap/css/bootstrap.min.css">
    <title>LucaTinder</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!---------------->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/resources/css/grayscale.css">
</head>
<body class="Listadofondo">
	
		<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4 class="mozas">A ver que te parecen estas MOOOOZAS</h4>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
						<th>Usuario</th>
						<th>Genero</th>
						<th>Edad</th>
						<th>Descripcion</th>
				
                   </thead>
    <tbody>
    
    			<tr th:each="usuario2 : ${usuarios}">
					<td><span th:text="${usuario2.nombre}"/></td>
					<td><span th:text="${usuario2.genero}" /></td>
					<td><span th:text="${usuario2.edad}" /></td>
					<td><span th:text="${usuario2.descripcion}" /></td>
 					<td><a class="botonlike" th:href="@{darlike?usuario=}+${usuario.id}+@{&usuario2=}+${usuario2.id}" onclick="deshabilitar(this)">Like</a> | 
 					<a class = "botonNOlike" th:href="@{darDislike?usuario=}+${usuario.id}+@{&usuario2=}+${usuario2.id}"  onclick="deshabilitar(this)">Dislike</a></td>   
				</tr>
    </tbody>
        
</table>
		<form class="button-form float-right" method="post" th:object="${usuario}" th:action="@{/contactos}" >
            <input type="hidden" th:field="${usuario.id}"/>
            <button type="submit" class="btn btn-info">Contactos</button>
      </form>
      
      <form class="button-form float-left" method="post" th:object="${usuario}" th:action="@{/descarte}" >
            <input type="hidden" th:field="${usuario.id}"/>
            <button type="submit" class="btn btn-info">Descartes</button>
      </form>
        </div>
	</div>
</div>		
</body>
<script type="text/javascript">
function deshabilitar( link ){
    link.style.pointerEvents = 'none';
    link.style.color = '#bbb';

    setTimeout(function(){
        link.style.pointerEvents = null;
        link.style.color = 'blue';
    }, 3000);
}
$(document).ready(function(){
	$("#mytable #checkall").click(function () {
	        if ($("#mytable #checkall").is(':checked')) {
	            $("#mytable input[type=checkbox]").each(function () {
	                $(this).prop("checked", true);
	            });

	        } else {
	            $("#mytable input[type=checkbox]").each(function () {
	                $(this).prop("checked", false);
	            });
	        }
	    });
	    
	    $("[data-toggle=tooltip]").tooltip();
	});

</script>

	
</html>