<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!-- Static content -->
<link rel="stylesheet" href="/resources/css/estilos.css">
    <title>LucaTinder</title>
</head>
<body>
<form method="post" th:object="${usuario}" th:action="@{/contactos}">
            <input type="hidden" th:field="${usuario.id}"/>
            <input type="submit" value="Contactos">
      </form>
   <table border="1" style="">
			<tr>
				<th>Usuario</th>
				<th>Genero</th>
				<th>Edad</th>
				<th>Descripcion</th>
			</tr>

				<tr th:each="usuario2 : ${usuarios}">
					<td><span th:text="${usuario2.nombre}"/></td>
					<td><span th:text="${usuario2.genero}" /></td>
					<td><span th:text="${usuario2.edad}" /></td>
					<td><span th:text="${usuario2.descripcion}" /></td>
 					<td><a class="boton" th:href="@{darlike?usuario=}+${usuario.id}+@{&usuario2=}+${usuario2.id}" onclick="deshabilitar(this)">Like</a> | <a
 						 class = "boton" href="#" onclick="deshabilitar(this)">Dislike</a></td>  
				</tr>
		</table>
</body>
<script type="text/javascript">
function deshabilitar( link ){
    link.style.pointerEvents = 'none';
    link.style.color = '#bbb';

    setTimeout(function(){
        link.style.pointerEvents = null;
        link.style.color = 'blue';
    }, 3000);
}
</script>
</html>