<div class="Listadofondo row m-0 p-0">        
  <div class="col-md-12">
    <br/><br/><br/><br/>
  <h4 class="mozas">A ver que te parecen estas MOOOOZAS</h4>
  <div class="table-responsive">

          
        <table id="mytable" class="table table-bordred table-striped">
             
             <thead>
      <th></th>       
      <th>Usuario</th>
      <th>Genero</th>
      <th>Edad</th>
      <th>Descripcion</th>
  
             </thead>
<tbody>

    <tr *ngFor="let user of users">
      <td><img src="http://placeimg.com/200/200/people" alt=""></td>
    <td><span>{{user.nombre}}</span></td>
    <td><span>{{user.genero}}</span></td>
    <td><span>{{user.edad}}</span></td>
    <td><span>{{user.descripcion}}</span></td>
     <td><button class="btn btn-success" (click)="darLike(user.id)" onClick="this.disabled=true"> Like</button> | 
      <button class="btn btn-danger" (click)="darDislike(user.id)" onClick="this.disabled=true"> Dislike</button></td>   
  </tr>
</tbody>
  
</table>
  </div>
  <button class="btn btn-info float-right" (click)="listarContactos()"> CONTACTOS</button>
<button class="btn btn-info float-left" (click)="listarDescartes()"> DESCARTES</button>	
</div>
</div>
