<div class="Listadofondo">
  <h2> Lista Contactos</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
        <br/> <br/> <br/> <br/> 
      <!--<th class="hidden">Id</th>-->
      <th>Foto de perfil</th>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Edad</th>
      <th>Descripcion</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <!--<td class="hidden">{{user.id}}</td>-->
      

      <img src= 'https://picsum.photos/200/'>
      <td>{{user.nombre}}</td>
      <td>{{user.genero}}</td>
      <td>{{user.edad}}</td>
      <td>{{user.descripcion}}</td>
      
    </tr>
    </tbody>
  </table>
  </div>